#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
}

.degradadoBlueDark {
    background: -webkit-linear-gradient(#ffffff, #2fc2d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.degradadoBlueLight {
    background: -webkit-linear-gradient(#101334, #3199d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.degradadoOrange {
    background: -webkit-linear-gradient(#932120, #dd950f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sombreado {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
